.ero-container {
  background-image: url("../../public/ero.png");
  background-size: cover;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ero-element {
  height: auto;
  width: 40%;
  padding: 0.5rem;
  position: relative;
  left: -10%;
}

.text-1 {
  font-size: 4vw;
}
.text-2 {
  font-size: 5vw;
  font-weight: bold;
  color: white;
}
.text-3 {
  color: white;
  -webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: black;
  font-size: 1.5vw;
}

.ero-buttuns {
  height: 13vh;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.buttun-go-in {
  position: relative;
  top: -2vh;
}
.buttun-go-in a {
  background-color: #252525;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.6vw;
  text-decoration: none;
  transition: 1s;
}

.buttun-go-in a:hover {
  background-color: #252525;
  color: #b7462a;
  font-size: 1.8vw;
}

.buttun-swich {
  position: relative;
  bottom: -3vh;
  gap: 1rem;
}

.buttun-swich .right,
.buttun-swich .left {
  padding: 0.2rem 0.4rem;
  background-color: white;
}
